body {
    background-color: azure;
}
body > header {
    height: 38px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

footer span {
    font-size: 24px;
}

nav {
    padding: 10px 20px;
}

nav span {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #232323;
}
