body {
    background-color: azure;
}

footer span {
    font-size: 24px;
}

nav {
    padding: 10px 20px;
    background-color: aquamarine;
}

nav a {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #232323;
}
